*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
 position: fixed;
 right: 0;
 top: 0;
 z-index: 1000;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 33px 9%;
 background: transparent;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color:white
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: red;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%); 
   /*background: linear-gradient(245.59deg, #114082 0%, #201c82 28.53%, #0c198b 75.52%);*/
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.hero-text h1{   
    font-size: 40px;
    line-height: 1;
    color: white;
margin: 0 0 45px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
width: 500px;
height: auto;
}
.hero-text a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.hero-text a.ctta{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero-text a.ctta i{
    vertical-align: middle;
    margin-right: 5px;
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.icons i:hover{
    color: #4d9559;
    transform: translateY((-5px));
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background:#4d9559 ;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
        }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media(max-width: 1340){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;    
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}

@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #4d9559;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
       margin-left: 0;
       display: block;
       margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
}

@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
}

.col h1{
    font-size: 60px;
    padding-top: 80px;
    text-align: center;
    margin: 30px 0px 20px;
    letter-spacing: 2px;
}
.col p{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    ;
}
.col h4{
  text-align: center;
}

.square1{
    margin: auto;
    border-radius: 50px;
    position: relative;
    display: flex;
    width: 368px;
    height: 468.64px;
    background-image: url('pemasaran3.jpg');
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 200px;    
    float: left;
}
.square2{
    display: flex;
    border-radius: 50px;
    width: 368px;
    height: 468.64px;
    background-image: url('pemasaran2.jpg');
    margin-top: 60px;  
    margin-left: 40px;
    float: left;
}
.square3{
    display: flex;
    border-radius: 50px;
    width: 368px;
    height: 468.64px;
    background-image: url('pemasaran1.jpg');
    margin-top: 60px;  
    margin-left: 40px;
    float: left;
}
.square1:hover{
 background: gray;
}
.square2:hover{
 background: red;
}
.square3:hover{
 background: red;   
}
